# Project Paths
PROJECT_BASE_PATH=E:/Z5008_Readmission_Project
DATA_PATH=${PROJECT_BASE_PATH}/data
MODELS_PATH=${PROJECT_BASE_PATH}/models

# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_DB=airflow
POSTGRES_PORT=5432

# MinIO Configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminpassword
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://minio:9000

# MLflow Configuration
MLFLOW_PORT=5000
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_TRACKING_URI_INTERNAL=http://mlflow:5000
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=adminpassword

# Kafka Configuration
KAFKA_PORT=9092
KAFKA_TOPIC=mimic-admissions
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_BOOTSTRAP_SERVERS_INTERNAL=kafka:29092

# Spark Configuration
SPARK_MASTER_PORT=7077
SPARK_UI_PORT=8080
SPARK_MASTER_URL=spark://spark-master:7077

# Airflow Configuration
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=adminpassword
AIRFLOW_PORT=8090

# BentoML API Configuration
API_PORT=3002

# Monitoring Configuration
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_PASSWORD=adminpassword
